.chart {
  & h2 {
    padding-bottom: 10px;
    margin: 5px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.35);
    font-size: 1.5rem;
    font-weight: 600;
  }

  & h3 {
    font-size: 2.25rem;
    margin: 0 20px 0 0;
    font-weight: 400;
  }

  .chart__time {
    font-size: 0.85rem;
  }
}

.chart-flex {
  display: flex;
  align-items: center;

  & p {
    font-size: 18px;
    font-weight: 500;
  }

  .chart-changeValue {
    margin: 0 10px;
  }
}

.chart-grid { 
  width: fit-content;
  display: grid;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 10px;
  grid-template-columns: 16px auto 16px auto;
  gap: 6px;
}

.chart-flex__box {
  display: flex;
  padding: 3px 10px 3px 3px;
  border-radius: 8px;
  align-items: center;

  .box__icon {
    font-size: 25px;
    padding-bottom: 2px;
  }
}

.chart-container {
  width: 100%;
  padding: 10px 0;
  position: relative;
}

.prediction-container {
  display: flex;
  align-items: center;
  gap: 7px;

  & input {
    border: none;
    padding: 0.4rem;
    border-radius: 0.4rem;
    background: rgba(232, 232, 232, 0.6);
    box-shadow: 7px 7px 15px #dbdbdb, -7px -7px 15px #ffffff;
    transition: 0.3s;
  }

  & input:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 7px 7px 20px #c5c5c5, inset -7px -7px 20px #ffffff;
    transition: 0.3s;
  }

  & button {
    height: calc(0.8rem + 15px);
    background-color: initial;
    background-image: linear-gradient(#464d55, #25292e);
    border-radius: 8px;
    border-width: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    margin-left: 15px;
    outline: none;
    padding: 0.4rem 1rem;
    text-align: center;
    transform: translate3d(0, 0, 0);
    transition: all 150ms;
  }

  & button:hover {
    box-shadow: rgba(0, 1, 0, 0.2) 0 2px 8px;
    opacity: 0.85;
  }

  & button:active {
    outline: 0;
  }

  & button:focus {
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 3px;
  }
}

.company-chart__title {
  position: relative;

  & h2 {
    padding-left: 50px;
  }

  & span {
    font-size: 34px;
    position: absolute;
    display: flex;
    border-radius: 5px;
    cursor: pointer;
    top: 0;
    left: 0;
  }
}

.company-chart__title span:hover {
  box-shadow: rgba(0, 1, 0, 0.2) 0 2px 8px;
}

.company-chart__title span:active {
  background: rgba(128, 128, 128, 0.2);
}

.prediction {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prediction-button {
  box-sizing: border-box;
  outline: 0;
  cursor: pointer;
  border-radius: 7px;
  border: 2px solid rgba(4, 122, 232, .85);
  background-color: rgb(4, 111, 232);
  margin: 0 15px;
  padding: 7px 25px;
  color: #fff;
  font-weight: 600;
  transition: all .2s;
}

.prediction-button:hover{
  background: 0 0;
  box-shadow: rgba(0, 1, 0, 0.2) 0 2px 8px;
  transform: translateY(-2.5px);
  color: rgb(4, 111, 232);
}