.company-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.company-card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.icon-container {
    display: flex;
    align-items: center;
    font-size: 30px;
    padding: 7px;
    border-radius: 6px;
    margin-right: 20px;
}

.info {
    flex: 2;
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
}

.date-change {
    flex: .6;
}
