@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 90vh;
    padding: 0 5vw;

    & h1 {
        line-height: 2.5;
        border-bottom: 1px solid rgba(128, 128, 128, 0.35);
        margin-top: 10px;
    }
}

.content {
    height: 80vh;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-buttons {
    height: 80%;
    width: 17%;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

section {
    height: 80%;
    width: 80%;
    overflow: auto;
    background-color: rgba(128, 128, 128, 0.05);
}

.horizontal-buttons {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: stretch;
}

article {
    padding: 1% 2.5%;
}